<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text input-width" for="inputGroupSelect">@Name</label>
    </div>
    <select class="custom-select" @bind="ListItem">
        <option selected>Choose...</option>
        @foreach (string option in Options)
        {
            <option value=@option>@option</option>
        }
    </select>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public IReadOnlyList<string> Options { get; set; }

    public string SelectValue { get; set; }

    [Parameter]
    public string ListItem
    {
        get { return SelectValue; }
        set
        {
            if (SelectValue != value)
            {
                SelectValue = value;
                if (ListItemChanged.HasDelegate)
                {
                    ListItemChanged.InvokeAsync(value);
                }
            }
        }
    }

    [Parameter]
    public EventCallback<string> ListItemChanged { get; set; }
}