<!--<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">@Name</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" @bind="ParentsTitle" @oninput="UpdateParentsTitle">
</div>

<h2>Parent Title is: @ParentsTitle</h2>-->
@*<button @onclick="UpdateParentsTitle">Update Parents Title</button>*@


<!--code {

    [Parameter] public string Name { get; set; }

    [Parameter] public string ParentsTitle { get; set; }
    [Parameter] public EventCallback<string> ParentsTitleChanged { get; set; }

    private async Task UpdateParentsTitle()
    {
        ParentsTitle = ParentsTitle;
        await ParentsTitleChanged.InvokeAsync(ParentsTitle);
    }
}-->

<div>
    <InputText type="text" @bind-Value="@BindingValue" />
</div>

@code {

    private string _value;

    [Parameter]
    public string BindingValue
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            BindingValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> BindingValueChanged { get; set; }

}