<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text input-width" id="inputGroup-sizing-default">@Name</span>
    </div>
    <input type="text" class="form-control" @bind="InputValue" @bind:event="oninput" @onkeyup="ModifyInputValue">
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string InputValue { get; set; }

    [Parameter]
    public EventCallback<string> InputValueChanged { get; set; }

    private async Task ModifyInputValue() { await InputValueChanged.InvokeAsync(InputValue); }
}
